<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- Design QA only: this activity and its fixtures are absent from release builds. -->
        <activity
            android:name="com.devidea.timeleft.design.DesignGalleryActivity"
            android:exported="true" />
        <activity android:name="com.devidea.timeleft.design.EnglishDesignGalleryActivity" android:exported="true" />
        <activity android:name="com.devidea.timeleft.design.WidgetSecondsProbeActivity" android:exported="true" />
        <receiver android:name="com.devidea.timeleft.design.WidgetSecondsProbeProvider" android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_seconds_probe_info" />
        </receiver>
    </application>
</manifest>
